html, body {
    margin: 0px;
    padding: 5px;
    height: 94%;
}

#indexHeader {
    text-align: center;
}
#indexHeader > h1 {
    display: inline;
}

p#slideNumber {
    display: inline;
    position: absolute;
    top: 5px;
    right: 30px;
}

#infoDisplay {
    border: 0px;
    width: 100%;
    height: 99%;
    min-height: 99%;
}
